doctype html
html
  head
    title Mike Quinlan - Resume
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/styles/application.css")
  body
    .content
      .row
        .col.col-lg-12
          h2.title Michael Quinlan
          p
            | Phone:&nbsp;
            a(href='tel:720-934-6730') 720-934-6730
          p
            | E-Mail:&nbsp;
            span
              a(href='mailto:mjquinlan2000@gmail.com') mjquinlan2000@gmail.com
          p
            | Github:&nbsp;
            span
              a(href='https://github.com/mjquinlan2000') github.com/mjquinlan2000
          p.no-print
            | Proud Owner of&nbsp;
            span
              a(href='https://chrome.google.com/webstore/detail/hot-tab/odmmgahbfhdcpnjccnlcnecoidkhemmg', target='_blank') Hot Tab
      .row
        .col.col-lg-12
          table.table.table-bordered.table-condensed
            tbody.resume-details
              tr
                td(colspan='2') Objective
                td(colspan='2') Seeking a career in the field of Software Engineering
              tr
                td(colspan='2') Skills
                td(colspan='2')
                  ul
                    li Proficient with Linux/Unix, Mac OSX, and Windows operating systems
                    li Deep understanding of Java, SQL, JavaScript, and Ruby
                    li Have worked extensively in GWT, Spring, Rails, Angular.js, and Backbone.js web frameworks
                    li Understand how to set up SOLR and Elasticsearch indexes for faster data searching
                    li Deep understanding of RESTful implementations of web services
                    li Understand how to use HTML5 and CSS/SCSS lanuages
                    li Huge proponent of Agile Software development processes
                    li Understanding of how to efficiently unit test code
                    li Able to integrate projects with various Amazon Web Services (SNS, S3, OpsWorks, EC2)
                    li Significant knowledge of how to use Nodejs and various plugins Karma/Bower/Grunt/Gulp/Express
              tr
                td(rowspan='4') Work
                td.date-container Aug, 2013 - Present
                td
                  b SportsLabs
                  i - Senior Software Engineer
                  br
                  | Currently working in a full Rails/Angular stack on several teams of developers to manage and display college sports data such as pictures, news, videos, and live-streaming content across multiple websites/products. Working to provide relevant and high-availability content to a large audience of users on a daily basis.
                  |               I have contributed to these projects: 
                  a(href='http://campusinsiders.com') CampusInsiders
                  | , 
                  a(href='http://theacc.com') The ACC
                  | , and 
                  a(href='http://themw.com') The MWC
                  | .
                  br
                  br
                  |  My main focus for the past year has been building a CMS from the ground up that allows for our customers to edit their college sports data. The CMS
                  |               interacts with a JSON API provided by our data services team. There is a Rails middleware with an AngularJS front end that manages user accounts and decorates objects from the API with missing data.
                  |               Elasticsearch is used in the CMS as a way to quickly fitler through all data that is available through the API. The CMS also integrates with various third parties from Google Analytics for users to gain insight
                  |               into their web products that we manage to Twitter/Instagram integration to manage social data related to sports, teams, events etc.
                td Boulder, CO
              tr
                td
                  | Jan, 2013 - Aug, 2013
                td
                  b QualVu Inc.
                  i - Software Engineer
                  br
                  | Worked on a team of Rails developers to deliver a wide variety of multimedia content to third party clients seeking qualitative market research on new and existing products. Used front end frameworks such as Backbone.js, Angular.js, JQuery, and Twitter Bootstrap to better enhance the usability and user experience in the platform. Developed algorithms to encourge better organization and parsing of multimedia content that is returned from our users. Worked with the SOLR search engine to speed up query results in a large data set.
                td
                  | Lakewood, CO
              tr
                td
                  | 2012 (6 weeks)
                td
                  b Disney Online
                  i - Software Intern
                  br
                  | Worked on a project with a team of ther software interns to use Sinatra, HTML5 Canvas, Require.js, Wire.js, and Backbone.js to build a standalone video editing platform complete with special effects and transitions between video clips to meet a 6 week deadline.
                td
                  | Boulder, CO
              tr
                td
                  | 2011-2012
                td
                  b Recondo Technology
                  i - Software Engineer
                  br
                  | Worked on a team of Java developers using the GWT framework on a SaaS platform to deliver healthcare benefit information to hospitals. This allowed for us to better determine the patient financial responsability before health services were rendered, giving hospitals the ability to charge patients beforehand as opposed to billing after. Also gained experience using a PostgreSQL backend, the Drools decision making engine, and the JUnit testing framework.
                td
                  | Greenwood Village, CO
              tr
                td
                  | Education
                td
                  | 2008 - 2012
                td
                  b Colorado School of Mines
                  br
                  | Major: Mathematics and Computer Science
                  br
                  | Major GPA: 3.41/4.0
                  br
                  | Overall GPA: 3.26/4.0
                  br
                  | Dean's List: 2008-2009
                  br
                  | Recognized for outstanding achievements in the department of Mathematics and Computer Science, Fall 2009
                td
                  | Golden, CO
